@*ready to clear*@
<div class="w-100 d-flex message-block-layout">
    @*ready to clear*@
    <div class="h-100 message-pin" style="background-color: @Resources.Color(Item.Color)"></div>
    <div class="message-text ibm-plex-mono-regular">
        @*ready to clear*@
        <div class="fst-italic text-decoration-underline message-username" style="color: @Resources.Color(Item.Color)">
            @Item.From.UserName
        </div>
        @*ready to clear*@
        <div class="fst-italic">
            @Item.Text
        </div>
    </div>
    <div class="d-flex align-items-center message-count ibm-plex-mono-bold ms-auto">
        @Item.Count
    </div>
</div>

@code {

    [Parameter]
    public MessageDto Item { get; set; }

}
