<div class="message-block-layout">
    <div class="message-pin-layout">
        <div class="message-pin" style="background-color: @Resources.Color(Item.Color)"></div>
    </div>
    <div class="ibm-plex-mono-regular">
        <div class="message-username" style="color: @Resources.Color(Item.Color)">
            @Item.From.UserName
        </div>
        <div class="message-text">
            @Item.Text
        </div>
    </div>
    <div class="message-count ibm-plex-mono-bold">
        @Item.Count
    </div>
</div>

@code {

    [Parameter]
    public MessageDto Item { get; set; }

}
