@inherits ColoredComponent

<div class="team-card-layout">
    <div class="join-team-text-layout">
        <div class="join-team-text @(ShowJoinText ? "join-team-text-hover" : "") ibm-plex-mono-semibold">
            Приєднатись
        </div>
    </div>
    <div style="box-shadow: 0px 0px 5px 3.5px @Resources.Color(Color);"
        class="team-card"
         @onmouseenter="() => ChangeJoinTextVisibility(true)"
         @onmouseleave="() => ChangeJoinTextVisibility(false)">
        <div style="background: linear-gradient(to bottom, @Resources.TransparentColor(Color, 0.6), @Resources.TransparentColor(Color, 0.1) 70%,@Resources.TransparentColor(Color, 0));" class="team-card-light-layout @(ShowJoinText ? "team-card-light-hover" : "")"></div>
        @foreach (var user in Users)
        {
            <div class="user-name-field">
                <GhostIcon Size="13px" Color="ColorStyle.White"></GhostIcon> @user.UserName
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<UserDto> Users { get; set; } = new();

    [Parameter]
    public int MaxRoomCount { get; set; } = 4;

    private bool ShowJoinText { get; set; } = false;

    protected override void OnInitialized()
    {
        Users.Add(
            new UserDto("Kirgo")
        );
        Users.Add(
            new UserDto("szn")
        );
        Users.Add(
            new UserDto("alinka")
        );
        Users.Add(
            new UserDto("oleg")
        );
        base.OnInitialized();
    }

    void ChangeJoinTextVisibility(bool showText)
    {
        ShowJoinText = showText;
        StateHasChanged();
    }

}
